.card {
  width: 300px;
  margin: 20px auto;
  border: 1px solid #ddd;
  border-radius: 8px;
  overflow: hidden;
}

.rounded-circle {
  border-radius: 50%;
}

.rating {
  display: flex;
  justify-content: center;
  align-items: center;
}

.rating-value {
  font-size: 1.25rem;
  margin-right: 5px;
}

.review-count {
  font-size: 0.875rem;
  color: #555;
}

.card-body{
    background-color: white;
}

.left-avatar{
    align-self: center;
}

.p-class-card{
    color: #749D1C;
    align-self: center;
}