body {
  margin: 0px;
  padding: 0px;
}

.herobg {
  background: conic-gradient(
    from 30deg at 66.96% 46.58%,
    #1a4402 30.320776998996735deg,
    #3a8c09 65.41556417942047deg,
    #1a4402 194.5346975326538deg
  );
}

.optionsetting:hover {
  background: #77994c;
  transform: translate(10px, -36px);
  transition: 0.5s transform;
  transition-delay: 0.5s;
}
.footerbutton {
  background: linear-gradient(180deg, #1a1a1a 0%, rgba(26, 26, 26, 0) 100%);
}
.Memberbutton {
  background: linear-gradient(
    101deg,
    #749d1c 2.68%,
    rgba(31, 31, 31, 0) 89.42%
  );
}
.socialbtn {
  background: linear-gradient(180deg, #58fd0a 0%, rgba(26, 26, 26, 0) 100%);
}
.careermobile {
  background: linear-gradient(
    180deg,
    rgba(26, 68, 2, 0.5) 0%,
    rgba(26, 26, 26, 0) 65.8%
  );
}
.careerinner {
  background: linear-gradient(
    180deg,
    rgba(26, 68, 2, 0.5) 0%,
    rgba(26, 26, 26, 0) 100%
  );
}
.showsetting {
  background: linear-gradient(
    180deg,
    rgba(26, 68, 2, 0.5) 0%,
    rgba(26, 26, 26, 0) 100%
  );
}

::-webkit-scrollbar {
  width: 12px; /* You can adjust the width as needed */
}

::-webkit-scrollbar-track {
  background-color: unset; /* This is the background color of the track */
}

::-webkit-scrollbar-thumb {
  background-color: unset; /* This is the color of the thumb */
  border-radius: 6px; /* You can adjust the border-radius to make the thumb rounder */
}

.connectset {
  position: relative;

  z-index: 1;
  overflow: hidden;
  text-align: center;
}
.connectset:before {
  position: absolute;
  top: 51%;
  overflow: hidden;
  width: 25%;
  height: 1px;
  content: "\a0";
  background-color: rgba(26, 68, 2, 0.5);
  margin-left: -27%;
  text-align: right;
}
.connectset:after {
  position: absolute;
  top: 51%;
  overflow: hidden;
  width: 25%;
  height: 1px;
  content: "\a0";
  background-color: rgba(26, 68, 2, 0.5);
  margin-left: 2%;
}

/* checkbox */

/* Custom checkbox styles */
.green-box {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  width: 26px;
  height: 26px;
  border: 1px solid #58fd0a;
  border-radius: 4px;
  outline: none;
  cursor: pointer;
  position: relative;
}

.green-box:checked {
  background-color: #58fd0a;
}

.green-box:checked::after {
  content: "\2714"; /* Checkmark symbol */
  font-size: 18px;
  color: #fff;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.subscribe-set {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  width: 20px;
  height: 20px;
  outline: none;
  cursor: pointer;
  position: relative;
  /* background-color: #1a4402; */
}
.subscribe-set:checked::after {
  content: "\2714"; /* Checkmark symbol */
  font-size: 18px;
  color: #fff;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.slick-slide {
  outline: none !important;
}

.rapido-side {
  box-shadow: 3.105px 0px 12.421px 0px rgba(16, 30, 115, 0.08);
}
.whitebutton {
  border-radius: 8px;
  background: #fff;
  box-shadow: 0px 10px 10px 0px rgba(158, 162, 172, 0.3);
}

.visitorset {
  background: linear-gradient(180deg, #a491fa 0%, #5d47c0 100%);
}
.Registervistor {
  background: linear-gradient(180deg, #67bef4 0%, #097dc5 100%);
}
.circleset {
  background: linear-gradient(180deg, #58dd9e 0%, #12a05e 100%);
}

.registerpharmacy {
  background: linear-gradient(180deg, #f56789 0%, #da496b 100%);
}
.announcementset {
  box-shadow: 0px 4.075px 24.447px -1.019px rgba(0, 0, 0, 0.11);
}
.annoncset {
  box-shadow: 10.071px 12.23px 28.776px 2.878px rgba(112, 144, 176, 0.08);
}
.tableset {
  box-shadow: 10px 10px 40px 0px rgba(196, 196, 196, 0.3);
}

.table-head {
  background-color: rgba(232, 232, 232, 0.2);
}

.primary-color {
  color: #194401;
}

.primary-color-bg {
  background-color: #194401;
}

.secondary-color {
  color: #58fd0b;
}
.secondary-color-bg {
  background-color: #58fd0b;
}
